.link
  display: inline-block
  padding: 13px 28px
  text-decoration: none
  font-family: 'Inter-Medium'
  font-weight: 500
  font-size: 18px
  line-height: 22px
  color: $white
  background-color: $blue-ribbon
  border-radius: 30px
  border: 2px solid $blue-ribbon
  transition: all .4s

  &:hover
    color: $stratos
    background-color: transparent
